#marqueeStyle{
    color: whitesmoke;
}
.VM_Div{
    width: 50%;
   float:left;
   height: 200px;
   text-align: center;
   padding: 10px;
   border: 3px solid;
}

.row::after{
    content: "";
    clear:both;
    display:table;
}

.event_id{
    padding-bottom: 10px;
}

.event_head{
   height: 33px;
    font-size:20px;
   border-radius: 7px;
   margin-bottom:15px;
   width:85%;
   display: inline-block;
   background-color:deepskyblue;
   box-shadow: 25px 30px 5px 3.3px rgb(19, 121, 155);
}

.event_head i{
    float: right;
}

.event_text{
    text-align: justify;
}

.list-group{
    width:100%;
    float:left;
}

.event_page{
    float: right;
}

#footer{
    height:50px;
}